
@model VideoGameHash.Models.HighchartModels.LineChartModel


<div id="linechart_material" style="width: 950px; height: 500px;"></div>


<script type="text/javascript">
    google.charts.load('current', {'packages':['line']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        @if (Model.Categories.Any())
        {
            <text>
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Date');


                @foreach (var category in Model.AlternateSources.Keys)
                {
                    @: data.addColumn('number', '@category');
                }

                @foreach (var category in Model.Categories)
                {
                    var yData = new List<int>();
                    foreach (var item in Model.AlternateSources)
                    {
                        yData.Add(item.Value.Single(x => x.Key.Equals(category)).Value);
                    }
                    var seriesData = string.Join(", ", yData);
                    @: data.addRow(['@category', @seriesData]);

                }

                var options =
                {
                    chart: {
                        title: 'Articles over last 12 months'
                    },
                    legend: { textStyle: {fontSize: 10} },
                    width: 900,
                    height: 500,
                    hAxis: {
                        title: 'Date'
                    },
                    vAxis: {
                        title: 'Articles'
                    }
                };

                var chart = new google.charts.Line(document.getElementById('linechart_material'));

                chart.draw(data, google.charts.Line.convertOptions(options));
                
            </text>
        }
    }

    $(function() {
        $("Rate").change(function() {

        });
    });
</script>