@{
    ViewBag.Title = "About VideoGameHash";
}

<hgroup class="title">
    <h5>@ViewBag.Title.</h5>
</hgroup>

<article>
    <p>
        Welcome to VideoGameHash, a repository of news, reviews, and media from your favorite gaming publications.
    </p>
</article>